body {

  margin: 0;

  font-family:
    Arial,
    sans-serif;

  background: #f5f7fb;

}


.auth {

  width: 400px;

  margin: 100px auto;

  background: white;

  padding: 30px;

  border-radius: 12px;

  box-shadow:
    0 5px 20px #ddd;

}


.auth h1 {

  text-align: center;

}



.auth input,
.auth select {

  width: 100%;

  padding: 12px;

  margin: 10px 0;

  box-sizing: border-box;

}



button {

  width: 100%;

  padding: 12px;

  background: #1976d2;

  color: white;

  border: none;

  border-radius: 8px;

  cursor: pointer;

}


button:hover {

  background: #125aa0;

}


p {

  text-align: center;

}